<div class="bg-primary mt-5 py-3 text-center">
    <div class="container">
        <div class="row">
            <div class="col">
                <a href="#" class="nav-link text-white">
                    <i class="fas fa-box-open fa-2x"></i>
                    <br>
                    <small>Retours acceptés sous 14 jours</small>
                </a>
            </div>
            <div class="col">
                <a href="#" class="nav-link text-white">
                    <i class="fas fa-shipping-fast fa-2x"></i>
                    <br>
                    <small>Livraison gratuite à partir de 200 € HT</small>
                </a>
            </div>
            <div class="col">
                <a href="#" class="nav-link text-white">
                    <i class="fas fa-phone-volume fa-2x"></i>
                    <br>
                    <small>Service client disponible</small>
                </a>
            </div>
            <div class="col">
                <a href="#" class="nav-link text-white">
                    <i class="fas fa-box-open fa-2x"></i>
                    <br>
                    <small>Prix transparents</small>
                </a>
            </div>
            <div class="col">
                <a href="#" class="nav-link text-white">
                    <i class="fas fa-box-open fa-2x"></i>
                    <br>
                    <small>Paiement 100% sécurisé</small>
                </a>
            </div>
        </div>
    </div>
</div>
<footer class="bg-dark text-white py-5">
    <div class="container">
        <div class="row">
            <div class="col-2">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-2">
                <h5>Section</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Home</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Features</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pricing</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">FAQs</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">About</a></li>
                </ul>
            </div>

            <div class="col-4 offset-1">
                <form>
                    <h5>Notre newsletter</h5>
                    <p>Restez informés de l'actualité Farmitoo</p>
                    <div class="d-flex w-100 gap-2">
                        <label for="newsletter1" class="visually-hidden">Votre adresse email</label>
                        <input id="newsletter1" type="text" class="form-control" placeholder="Votre adresse email">
                        <button class="btn btn-primary" type="button">Inscription</button>
                    </div>
                </form>
            </div>
        </div>

        <div class="py-4 my-4 border-top">
            <p class="text-center"><small>© 2021 Propulsé par Adrien Durmier pour Farmitoo</small></p>
        </div>
    </div>
</footer>