<header class="bg-white">
    <div class="px-3 py-2">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <img id="header-logo" src="https://d1lgrfe63m2189.cloudfront.net/build/assets/common/images/logos/logo_farmitoo_horizontal_colors_black.57525da04652f01c483bc168eb187f4c.svg" alt="Logo Farmitoo">
                </a>
                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-center">
                    <li>
                        <a href="#" class="nav-link">
                            <i class="fas fa-headset fa-2x"></i>
                            <br>
                            Support
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <i class="fas fa-user fa-2x"></i>
                            <br>
                            Mon compte
                        </a>
                    </li>
                    <li>
                        <a href="#" class="nav-link">
                            <i class="fas fa-shopping-cart fa-2x"></i>
                            <br>
                            Panier
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="px-3 py-2 border-bottom mb-3">
        <div class="container d-flex flex-wrap justify-content-center">
            <form class="col-12 col-lg-auto mb-2 mb-lg-0 me-lg-auto">
                <div class="input-group mb-3">
                    <input id="search-input" type="search" class="form-control" placeholder="Rechercher..." aria-label="Rechercher">
                    <label class="input-group-text" for="search-input"><i class="fas fa-search"></i></label>
                </div>
            </form>

            <div class="text-end">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Produits</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Pièces par machines</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Bonnes affaires</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</header>