{# Bandeau pour afficher dans quelle étape du tunnel d'achat se trouve l'utilisateur #}
{% macro display(activeStep) %}
    <div class="container mb-3">
        <div class="card">
            <div class="card-body">
                <ul id="checkout_steps_list" class="list-inline text-center">
                    <li class="list-inline-item {% if activeStep == 'cart' %}active{% endif %}">
                        Panier
                    </li>
                    <li class="list-inline-item {% if activeStep == 'address' %}active{% endif %}">
                        Coordonnées
                    </li>
                    <li class="list-inline-item {% if activeStep == 'payment' %}active{% endif %}">
                        Paiement
                    </li>
                    <li class="list-inline-item {% if activeStep == 'validation' %}active{% endif %}">
                        Validation
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endmacro%}